body {
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

form {
    width: 100%;
}

.opaque {
    opacity: 1;
}


@media (min-width: 500px) {
    .container{
        max-width: 500px;
    }}
.panel {
   background-color: e0e0e0;
}

.jumbotron {
    background-color: #FFAC76;
    opacity: 0.8;
}

.mycolor {
    background-color: #FF7821;
}

button {
    opacity: 1;
}

#container {
    width: 100%;
    height: 100%;
}

#corn {
    background: url("/static/img/cornell_monet.png")  no-repeat center center scroll;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    align: center;
    display: table;
}

#yale {
    background: url("/static/img/yale.png")  no-repeat center center scroll;
    width: 100%;
	height: 100%;
    background-size: cover;
    position: relative;
    display: table;
}

.boxy {
    width: 300px;
    height: 300px;
}

.smallboxy {
    width: 150px;
    height: 150px;
}

#yhack {
    background: url("/static/img/yhack.png")  no-repeat center center scroll;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: table;
}

#fm {
    background: url("/static/img/fm3.png")  no-repeat center center scroll;
    width: 100%;
	height: 100%;
    background-size: cover;
    position: relative;
    display: table;
}

.top {
    width: 100%;
    background-size: cover;
    position: relative;
    display: table;
}
#trump {
    width: 100%;
    height: 100%;
    background-image: url("http://michaelmoore.s3.amazonaws.com/wp/uploads/2016/07/23143828/trumpwillwin-notext.jpg");
    background-size: cover;
    background-color: #FFFFFF;
}

.button {
    height: 100 px;
    float: center;
    margin-bottom: 10px;
}

#ugh {
    display: table;
}

#left-side {
    display: inline-block;
    margin: 50px 50px;
}

#right-side {
    display: inline-block;
    margin: 50px 50px;
}


.vertical-center {
  margin-top: 40%;
}


.btnContainer {
  margin-top: 20px;
  float: center;
}


#two {
  position: relative;
  height: 410px;
  width: 43%;
  margin: 0 auto;
}
#two img {
  height: 400px;
  width: 400px;
}

#map {
  height: 400px;
  width: 400px;
}
.imgContainer {
  float:left;
  margin: 5px;
}
