head
    title Y Mae
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css', rel='stylesheet')
    link(href='"https://fonts.googleapis.com/css?family=Rajdhani:700', rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href='/static/main.css', rel='stylesheet')

    script(src='https://code.getmdl.io/1.2.1/material.min.js')
body
    nav.navbar.navbar-default.navbar-fixed-bottom.mycolor
        .container-fluid
            .navbar-header
                .wow
                    a.navbar-brand Y Mae
            p.navbar-text Sell the damn &nbsp;
                span.glyphicon.glyphicon-home
            a.navbar-text(href='/cafa') Home
            a.navbar-text(href='/cafa/int/login') Property Manager` Login
            a.navbar-text(href='/cafa/ext/login') Worker Login