head
    title CAFA
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://code.getmdl.io/1.2.1/material.indigo-cyan.min.css', rel='stylesheet')
    link(href='"https://fonts.googleapis.com/css?family=Rajdhani:700', rel='stylesheet')
    link(href='/static/main.css', rel='stylesheet')
    script(src='https://code.getmdl.io/1.2.1/material.min.js')