html
    include _common
    body
    #yale
        .container
            h1(align='center') Y Mae
            h5 Sell the damn house.
            .jumbotron.vertical-center
                button#external.btn.btn-primary.btn-lg.opaque(onclick="location.href=('/cafa/int/login')")
                    | Office Analyst
                button#internal.btn.btn-primary.btn-lg.opaque(onclick="location.href=('/cafa/ext/login')")
                    | Field Agent
