html
    include _common
    body
    #yale
        .container
          .jumbotron.vertical-center
            h1(align='center') Y Mae
            h5 House management Maed easy.
            .btnContainer
              button#external.btn.btn-primary.btn-lg.opaque(onclick="location.href=('/cafa/int/login')")
                  | Office Analyst
            .btnContainer
              button#internal.btn.btn-primary.btn-lg.opaque(onclick="location.href=('/cafa/ext/login')")
                  | Field Agent
