html
    include _common
    body
        #corn
            .container
                h2 Enter your job id
                form(action='/cafa/ext/job' method='post')
                    .mdl-textfield.mdl-js-textfield
                        label.mdl-textfield__label(for='jid') Job Id
                        input#jid.mdl-textfield__input(name='jid' placeholder='Job ID')
                    br
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')
                        | Submit
