html
    include _common
    body
        .container 
            h2 Dashboard
            button#external.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="location.href=('/cafa/int/new_contract')")
                    | Create new contract