html
    include _common
    body
        #fm
          H1 Contract-Job Dashboard
          H2 Map Location
          #map
          script.
            function initMap() {
              var uluru = {lat: -25.363, lng: 131.044};
              var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
              });
              var marker = new google.maps.Marker({
              position: uluru,
              map: map
              });
            }

          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh53x5vw5NPtjK4f57EMMzdT49y7AZp5k&callback=initMap").
          H2 Jobs



          script(src="https://code.jquery.com/jquery-3.1.1.min.js")
          script.
              $.ajax({
                  url: '/cafa/api/get_contracts',
                  success: function(res) {
                          $('H1').after('<h2>'+ res[0].street + '</h2>');
                      }
                  })
