html
    include _common
    body
        #top
            .container
                h2 U do a good job m8?
                form#wowww(action='/cafa/api/complete_job' method='post')
                    .mdl-textfield.mdl-js-textfield
                        label.mdl-textfield__label(for='comment') Comment
                        input#comment.mdl-textfield__input(name='comment' placeholder='Yeah boy')
                    br
                    label(for='img' ) Prove it.
                    input#img(name='img' type='file') Prove it
                    br
                    br
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')
                        | Submit


        script.
            document.getElementById('wowww').setAttribute('enctype','multipart/form-data')