html
    include _common
    body
        #corn
            .jumbotron.vertical-center
                h3(align='center') The job has been marked as completed!
                br
                button#external.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="location.href=('/')")
                    | Go Home
