html
    include _common
    body
    #top
        h1(align='center') Thank you for your help, friend!
        #ugh
            #wow(align='center')
                button#external.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="location.href=('/cafa')")
                    | Go Home
